# Generated directories
build

# Dependency directories
dependencies
# Needed to build sdl with cmake
!dependencies\sdl\sdl2-config.cmake
# vscode config files
tasks.json
launch.json
c_cpp_properties.json

# Build files
*.pdb
*.exe
*.dll
*.ilk
*.obj

